<div class="header">
    <h1>Artist List</h1>
</div>
<div>
    <%= fields_for :search do %>
      <%= label_tag "Search this list" %>
      <%= text_field_tag :search %>
    <% end %>
    <table class="search_table">
        <tr>
            <th><%= sortable "ListName", "Name" %></th>
            <th><%= sortable "client_status", "Status" %></th>
            <th>Pollstar</th>
            <th>Artist Site</th>
        </tr>
        <% @artists.each do |artist| %>
            <tr 
        <% if artist.client_status == "Current" %>
            class="current">
        <% elsif artist.client_status == "Prospective" %>
            class="prospective">
        <% else %>
            class="former">
        <% end %>
                <td><%= link_to(artist.ListName, artist_path(artist.id)) %></td>
                <td><%= link_to(artist.client_status, edit_artist_path(artist.id)) %></td>
                <td><%= link_to("pollstar #{artist.ListName}", artist.Url) %></td>
                <td><%= link_to("#{artist.artist_url}", artist.f_artist_url, :target => 'blank') %></td>
                </font>
            </tr>
        <% end %>
    </table>
</div>
