<h1>These are your search results for <u><%= @artist.ListName %></u></h1>
<h2>Select the artist you are looking for.</h2>

<%= form_tag("/add_artist", method: "get") do %>
	<% @artists.each do |artist| %>
		<div class="row well">
			<div class="col-sm-1">
				<%= radio_button_tag(:artist, artist.ArtistID)  %>
			</div>
			<div class="col-sm-2">
				<a href= <%= artist.Url %>><%=  label_tag(:artist, "#{artist.ListName} - #{artist.Genre}")  %></a>
			</div>
		</div>
	<%= hidden_field_tag :user , current_user %>

	<% end %>
	<%= submit_tag("Select") %>
<% end %>