<h1>This is the show page for <%= @artist.ListName %>.</h1>
<div class="row">
	<div id="side_bar">
		<p><%= link_to "Home Screen", user_path(current_user) %></p>
		<p><%= link_to "Edit Details", edit_artist_path %></p>
		<p><%= link_to "Delete Artist", artist_path, method: :delete %></p>
	</div>
	<div id="main_body">
		<% @artist.events.each do |event| %>
			<p><%= event.PlayDate %> - <%= event.VenueName %> - <%= event.Region %>	</p>
		<% end %>
	</div>
</div>