<h1>Tour dates for <%= @artist.ListName %>.</h1>
<div class="row">
	<div id="side_bar">
		<p><%= link_to "Home Screen", user_path(current_user) %></p>
		<p><%= link_to "Edit Details", edit_artist_path %></p>
		<p><%= link_to "Delete Artist", artist_path, method: :delete %></p>
		<hr>
		<p><%= link_to "City List", cities_path %></p>
	</div>
	<div id="main_body">
		<%= render 'shared/event_list', events: @artist.events %>
	</div>
</div>