<h1>This is the user show page for <%= @user.fname %></h1>
<div class="row">
	<div id="side_bar">
		<h1>Artists</h1>
		<%= link_to "Search for Artist", search_artist_path %><br/>
		<%= link_to("City List", cities_path) %>
		<hr>
		<p>
		<% @artists.each do |artist| %>
			<div>
				<p><%= link_to(artist.ListName, artist_path(artist)) %></p>
			</div>
		<% end %>
		</p>
	</div>
	<div id="main_body">
		<div>
	  	<h1>Calendar</h1>
	  	<p>https://gist.github.com/jamesu/54116</p>
	  	<p>this is the calendar i want to use</p>
		</div>
		<% if @events != nil %>
		<div>
			<! %= @date %>
			<! %= @last_date %>
				<% @events.each do |event| %>
					<% if event.PlayDate != @date %>
						<% @date = event.PlayDate %>
						<hr>
						<p><%= @date %></P>
					<% end %>
					<p>
						<%= link_to(event.artist_name, artist_path(event.artist)) %> - <%= event.VenueName %> - <%= link_to(event.Region, city_path(event.city)) %>
					</p>	
					<% @date = event.PlayDate  %>			
				<% end %>
		</div>
		<% end %>
	</div>
</div>
