<! Requires 'events' >
<% if events.count != 0 %>
	<div class="calendar">
		<div class="cal_break">
			<h1><%= @year = Date.today.year %></h1>
			<h2><% @month = Date.today.month %><%= Date.today.strftime('%B') %></h2>
		</div>				
		<div>
				<% @date_range.each do |date| %>
					<% if date != @date %>
						<break/>
						<% @date = date %>
						</div>
						<% if @date.year != @year %>
						    <div class="cal_break">
							    <h1><%= @year = @date.year %></h1>
							    <h2><% @month = @date.month %><%= @date.strftime('%B') %></h2>
							</div>
						<% elsif @date.month != @month %>
						    <div class="cal_break">
						        <h2><% @month = @date.month %><%= @date.strftime('%B') %></h2>
						    </div>
						<% end %>
						<div class="date">
						<table>
	    					<tr>
	    						<th><%= @date.mday %></th>
	    					</tr>
	    				</table>
					<% end %>
					<ul class="count">
						<li onclick=""><%= events.where(PlayDate: @date).count %>
							<ul class="events">
								<% events.where(PlayDate: @date).each do |event| %>
									<li><%= link_to(event.artist_name, event_path(event)) %></li>
								<% end %>
							</ul>
						</li>
					</ul>
				<% end %>
			    
		</div>
	</div>
<% end %>

