<! Requires 'events' >
<% if events.count != 0 %>
	<div class="calendar">
		<div class="cal_break">
			<h1><%= @year = Date.today.year %></h1>
			<h2><% @month = Date.today.month %><%= Date.today.strftime('%B') %></h2>
		</div>				
		<div>
				<% @date_range.each do |date| %>
					<% if date != @date %>
						<break/>
						<% @date = date %>
						</div>
						<% if @date.year != @year %>
						    <div class="cal_break">
							    <h1><%= @year = @date.year %></h1>
							    <h2><% @month = @date.month %><%= @date.strftime('%B') %></h2>
							</div>
						<% elsif @date.month != @month %>
						    <div class="cal_break">
						        <h2><% @month = @date.month %><%= @date.strftime('%B') %></h2>
						    </div>
						<% end %>
						<% if @corelated_events.select{|event| event[:date] == @date}.count > 0 %>
							<div class="date" id="multiple">
						<% else %>
							<div class="date">
								
						<% end %>
						<table>
	    					<tr>
	    						<th><%= @date.mday %></th>
	    					</tr>
	    				</table>
					<% end %>
					<ul class="count">
						<li onclick=""><%=	(@local = events.where(PlayDate: @date)).count %>
						<%= near_shop(@local) %>
							<ul class="events">
								<% events.where(PlayDate: @date).each do |event| %>
								<% if event.artist.client_status == "Current" %>
						            <li class="current">
						        <% elsif event.artist.client_status == "Prospective" %>
						            <li class="prospective">
						        <% else %>
						            <li class="former">
						        <% end %>
									<% @artist_name = event.artist_name + shop_marker(event.Region) %>
									<%= link_to(@artist_name, event_path(event)) %></li>
									
								<% end %>
								<hr>
								<% @corelated_events.select{|event| event[:date] == @date}.each do |city|%>
									<li><%= link_to(city[:region], city_path(city[:region_id], :date => @date)) %></li>
								<% end %>
							</ul>
						</li>
					</ul>
				<% end %>
			    
		</div>
	</div>
<% end %>

