<div class="header">
	<h1><%= @event.artist_name %> in <%= @event.Region %></h1>
</div>
<div class="row">
	<div id="main_body">
		<div id="event_details">
			<table>
				<tr>
					<td class="right">Date:</td>
					<td class="left"><%= @event.play_date %></td>
				</tr>
				<tr>
					<td class="right">Artist:</td>
					<td class="left"><%= link_to @event.artist_name, artist_path(@event.artist_id) %></td>
				</tr>
				<tr>
					<td class="right">Venue:</td>
					<td class="left"><%= @event.VenueName %></td>
				</tr>
				<tr>
					<td class="right">Address 1:</td>
					<td class="left"><%= @address.address1 %></td>
				</tr>
				<tr>
					<td class="right">Address 2:</td>
					<td class="left"><%= @address.address2 %></td>
				</tr>
				<tr>
					<td class="right">City:</td>
					<td class="left"><%= @event.CityName %></td>
				</tr>
				<tr>
					<td class="right">State:</td>
					<td class='left'><%= @event.State %></td>
				</tr>
				<tr>
					<td class="right">Zip Code:</td>
					<td class="left"><%= @address.zip %></td>
				</tr>
			</table>
		</div>
		<div>	
			<% if @other_events.count > 1 %>	
				<h3>There are <%= @other_events.count %> nearby events</h3>
			<% elsif @other_events.count > 0 %>
				<h3>There is <%= @other_events.count %> nearby event</h3>
			<% end %>
		</div>
		<%= render 'shared/event_list', events: @other_events %>
	</div>
</div>