<h1>Show page for <%= @event.artist_name %> in <%= @event.Region %></h1>
<div class="row">
	<div id="side_bar">
		<p><%= link_to "Home Screen", user_path(current_user) %></p>
		<p><%= link_to "City List", cities_path %>
	</div>
	<div id="main_body">
		<div id="event_details">
			<table>
				<tr>
					<td class="right">Date:</td>
					<td class="left"><%= @event.PlayDate %></td>
				</tr>
				<tr>
					<td class="right">Artist:</td>
					<td class="left"><%= link_to @event.artist_name, artist_path(@event.artist_id) %></td>
				</tr>
				<tr>
					<td class="right">Venue:</td>
					<td class="left"><%= @event.VenueName %></td>
				</tr>
				<tr>
					<td class="right">Address 1:</td>
					<td class="left"><%= @address.address1 %></td>
				</tr>
				<tr>
					<td class="right">Address 2:</td>
					<td class="left"><%= @address.address2 %></td>
				</tr>
				<tr>
					<td class="right">City:</td>
					<td class="left"><%= @event.CityName %></td>
				</tr>
				<tr>
					<td class="right">State:</td>
					<td class='left'><%= @event.State %></td>
				</tr>
				<tr>
					<td class="right">Zip Code:</td>
					<td class="left"><%= @address.zip %></td>
				</tr>
			</table>
		</div>
		<hr>
		<% if @other_events != nil %>
		<div>
			<h2 class="left">Nearby Events</h2>
			<! %= @date %>
			<! %= @last_date %>
			<table>
				<% @other_events.each do |event| %>
					<% if event.PlayDate != @date %>
						<% @date = event.PlayDate %>							
		 				<tr>
							<td><%= @date.to_date.month %>/<%= @date.to_date.mday %></td>
						</tr>
		 			<% end %>
					<tr>
						<td></td>
						<td><%= link_to(event.artist_name, artist_path(event.artist)) %></td>
						<td><%= link_to(event.VenueName, event_path(event)) %></td>
						<td><%= link_to(event.Region, city_path(event.city)) %></td>							
					</tr>
					<% @date = event.PlayDate  %>			
				<% end %>
			</table>
		</div>
		<% end %>
	</div>
</div>