<div class="header">
	<h1>City Index</h1>
</div>
<div class="row">
	<div id="main_body">
		<ul><%= @state %>
		<% @us_cities.each do |city|%>
			<% if city.State != @state %>
				</ul>
				<hr>
				<ul><%= city.State %>
			<% end %>
			<li><%= link_to(city.CityName, city_path(city)) %></li>
			<% @state = city.State %>
		<% end %>
		<h3>International Cities:</h3>
		<% @in_cities.each do |city|%>
			<% if city.CountryName != @state %>
				</ul>
				<hr>
				<ul><%= city.CountryName %>
			<% end %>
			<li><%= link_to(city.CityName, city_path(city)) %></li>
			<% @state = city.CountryName %>
		<% end %>
		</ul>
	</div>
</div>