<div class="header">
	<h1>City Index</h1>
</div>
    <%= fields_for :search do %>
      <%= label_tag "Search this list" %>
      <%= text_field_tag :search %>
    <% end %>
<div class="row">
	<div id="main_body">
		<table class="search_table">
			<thead>
				<tr>
					<th>Country</th>
					<th>State</th>
					<th>City</th>
					<th># of Events</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @country %></td>
				</tr>
				<% @cities.each do |city|%>
					<% if city.CountryName != @country %>
						<tr>
							<td><%= @country = city.CountryName %></td>
						</tr>
						<tr>
							<td></td>
							<td><%= @state = city.State %></td>
						</tr>
					<% end %>
					<% if city.State != @state %>
						<tr>
							<td></td>
							<td><%= @state = city.State %></td>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<td></td>
						<td><%= link_to(city.CityName, city_path(city)) %></td>
						<td><%= city.events.where("PlayDate > ?", Date.yesterday).count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>